.canvas {
  width: 100vw;
  min-height: 50vh;
  height: 0;
  position: absolute;
  bottom: 0;
  mask-image: linear-gradient(
    rgba(0 0 0 / 0%) 5%,
    rgb(0 0 0 / 50%) 50%,
    rgb(0 0 0 / 100%) 100%
  );
}
